<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1797ff";>
  <a class="navbar-brand" href="/">
        Souza Store <img src="imgs/apple.png" width="25px" style="position: relative; top: -2px;">
  </a>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/pedidos">Pedidos</a>
      </li>
  </ul>
</nav>
<br>